@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #1f242d;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #000000;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #00ffff;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h2 {
    font-size: 24px;
    font-weight: 500;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h2:nth-of-type(2) {
    margin-bottom: 20px;
    animation: slideTop 1s ease forwards;
    animation-delay: .8s;
}

.home-content h2 span {
    color: #00ffff;
}

.home-content h1 {
    font-size: 64px;
    margin: -3px 0;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.1s;
}

.home-img img {
    max-width: 500px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #00ffff;
    border-radius: 40px;
    box-shadow: 0 0 10px #00ffff;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    color: #1f242d;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    margin-top: 30px;
}

/*Keyframes Animation*/
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/*About Section*/

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #2e313c;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 15px;
    padding-right: 15px;
}

.about-img img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.about-content h2 span {
    color: #00ffff;
}

.about-content h3 {
    font-size: 2.5rem;
}

.about-content p {
    font-size: 1.1rem;
    margin: 1rem 0 3rem;
}

/*Skills Section*/
.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: #1f242d;
    padding-top: 7rem;
    padding-left: 15px;
    padding-right: 15px;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills span {
    color: #00ffff;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid #00ffff;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid #00ffff;
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: #00ffff;
}



/*Coding skills progress bar*/
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 35%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 55%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 40%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span {
    width: 40%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(7) .bar span {
    width: 45%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(8) .bar span {
    width: 20%;
}



/*Professional skills progress bar*/
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 40%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 40%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 30%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(7) .bar span {
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(8) .bar span {
    width: 70%;
}

/*Portfolio Section*/
.portfolio {
    background: #2e313c;
    padding-bottom: 7rem;
    padding-top: 7rem;
    padding-left: 15px;
    padding-right: 15px;
}

.portfolio span {
    color: #00ffff;
}

.portfolio h2 {
    margin-bottom: 5rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    align-items: center;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.7));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h3 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: #1f242d;
}

/*Contact Section*/
.contact {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.contact span {
    color: #00ffff;
}

.contact p {
    font-size: 1rem;
    text-align: center;
}

.contact p a {
    color: #00ffff;
    text-decoration: underline;
    margin-left: 5px;
}
