@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #00ffff;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h2 {
    font-size: 24px;
    font-weight: 500;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h2:nth-of-type(2) {
    margin-bottom: 20px;
    animation: slideTop 1s ease forwards;
    animation-delay: .8s;
}

.home-content h2 span {
    color: #00ffff;
}

.home-content h1 {
    font-size: 64px;
    margin: -3px 0;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.1s;
}

.home-img img {
    max-width: 500px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #00ffff;
    border-radius: 40px;
    box-shadow: 0 0 10px #00ffff;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    color: #1f242d;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    margin-top: 30px;
}

/*Keyframes Animation*/
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}